* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body {
  background-color: #121212;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

header {
  background-color: #1F1F1F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2rem;
  border-bottom: 1px solid white;
}

.about-me h2 {
  padding: 20px 0 20px 0;
}

nav a {
  color: #3B82F6;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  font-size: 1.8rem;
  padding: 0 20px 0 20px;
}

img {
  width: 14rem;
}
